<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <link href="/static/favicon.ico" rel="icon">
        <link href="/static/style.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <title>Something Fruity: {% block title %}{% endblock %}</title>
    </head>

    <body>
    <audio id="audio" src="/static/sounds.mp3" loop>Audio</audio>
        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/"><span class="yellow">Something </span><span class="green">  Fruity</span></a>
            <div class="collapse navbar-collapse" id="navbar">
                {% if current_user.is_authenticated %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/account">Account</a></li>
                        <li class="nav-item"><a class="nav-link" href="/game">Game</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item" id="sound"><a class="nav-link" href="javascript:void(0);" onclick="toggleSound()">Sound</a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item" id="sound1"><a class="nav-link" href="javascript:void(0);" onclick="toggleSound()">Sound</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        {% if get_flashed_messages(with_categories=true) %}
            <header>
                {% with messages = get_flashed_messages(with_categories=true) %}
                     {% for category, message in messages %}
                          <div class="alert border text-center {{ category }}" id="hideMe" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endwith %}
            </header>
        {% endif %}

        <main class="container p-5">
              {% block content %}{% endblock %}
        </main>

        <footer class="small text-center text-muted">
            Implemented in Python using the Flask framework
        </footer>

        <script type="text/javascript">
            let audio = document.getElementById("audio");
            let sound = document.getElementById("sound");
            let sound1 = document.getElementById("sound1");

            window.onload = function playSound() {
                audio.muted = sessionStorage.getItem('muted');
                audio.play();
                if (sound) {
                    if (sessionStorage.getItem('muted')) {
                        sound.classList.add("no-sound");
                    } else {
                        sound.classList.remove("no-sound");
                    }
                }else{
                    if (sessionStorage.getItem('muted')) {
                        sound1.classList.add("no-sound");
                    } else {
                        sound1.classList.remove("no-sound");
                    }
                }
            }

            function toggleSound() {
                if (sound) {
                    if (audio.muted === false){
                        sessionStorage.setItem('muted', 'true');
                        sound.classList.add("no-sound");
                        audio.muted = true;
                    } else {
                        sessionStorage.removeItem('muted');
                        sound.classList.remove("no-sound");
                        audio.muted = false;
                    }
                } else {
                    if (audio.muted === false){
                        sessionStorage.setItem('muted', 'true');
                        sound1.classList.add("no-sound");
                        audio.muted = true;
                    } else {
                        sessionStorage.removeItem('muted');
                        sound1.classList.remove("no-sound");
                        audio.muted = false;
                    }
                }
            }
        </script>

        <style>
            .no-sound
                {
                    text-decoration: line-through;
                }
        </style>

    </body>
</html>
